body {background-color: #bbbcbf;}
p, ul, li {color: #000000;}
h1, h2 {color: #000000;}
a:link {color: #536878;}
nav {background-color: #9facad;}
nav a {color: #000000;}
nav a:hover {background-color: #bdab8f;}
nav {padding: 10px;}
nav {margin-bottom: 30px;}
.footerquote {float: right;}


.row1 {display: flex; background-color: #FFFF; padding: 20px; border-radius: 1em; margin: 10px;}
.address {order: 1;}
.links {order: 2; padding: 15px; margin: 10px;}

.row2 {display: flex; background-color: #FFFF; padding: 20px; border-radius: 1em; margin: 10px;}
.form {flex: 3; order: 2; padding: 15px; margin: 20px;}
.map {flex: 3; order: 3; margin: 10px;}

.technicalskills {text-align: center; margin: 1.25em;}
.container {display: flex; justify-content: space-around; padding: 3.5em;}
aside {background-color: #f57700; border-radius: 1em; padding: 1em 1em 2.5em 1em; text-align: center;}
.flexbox2 {display: flex;}
.col1 {flex: 0.75;}
.col2 {flex: 0.25;}

.banner {max-width: 100%;}
.row2 {flex-wrap: wrap;}

@media only screen and (max-width: 800px) {
    nav a {display: block; width: 100%; margin: 1em;} 
    span {display: none;}  
   }

.skip {
    position: absolute;
    left: -10000px;
    top: auto;
    width: 1px;
    height: 1px;
    overflow: hidden;
  }

.skip:focus {
    position: static;
    width: auto;
    height: auto;
  }
  


